@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  --background: #050505;
  --foreground: #ededed;
  --primary: #6d28d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@utility glow-purple {
  filter: drop-shadow(0 0 80px rgba(109, 40, 217, 0.4));
}
